<!DOCTYPE html>
<html>
<head>

	<style> 
div {
    width: 1348px;
    height: 55px;
    background: Grey;
    -webkit-transition: Height 2s, width 4s, ; /* For Safari 3.1 to 6.0 */
    transition: height 2s, width 4s;
    
}
#div {transition-timing-function: ease-in-out;}
div:hover {
    height: 600px;
    width: 300px;
}
/*h2.hidden{
  visibility: hidden;
}
body{
  background-image: url("image.jpg");
}*/

</style>

</head>

<center><div><font size = "9" face="Impact" color="Black">S e r v i c e s</font><br><a href="http://localhost:3000" style="text-decoration:none;"><font size = "4" face="Candara" color="white">Go back to Home Page</a>

<h2><font size = "5" face="Gill Sans" color="white"><p align = "center"><p>Service #1</p><p>Service #2</p><p>Service #3</p><p>Service #4</p><p>Service #5</p><p>Service #6</p><p>Service #7</p><p>Service #8</p></font></h2>
<!--<p align="center"><img src="http://www.tilesforarchitects.com/sites/default/files/styles/large/public/product/r626_grey.jpg?itok=OBv9eZUd" alt="CAR" style = "width:1348px;height:750px;"></p>-->
